.con {
  background: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  >img{
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 1.2rem;
  }
  >span{
    margin-top: .5rem;
    font-size: .36rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #172B4D;
  }
  .submit {
    width: calc(100% - 0.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.3rem;
    position: fixed;
    bottom: 0;
    height: 0.9rem;
    background: linear-gradient(270deg, #0ab88d 0%, #5b8eff 100%);
    border-radius: 0.1rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #ffffff;
  }
}
