/*LOADER 13*/
.overlayContent {
  position: absolute;
  width: calc(100% - .4rem);
  bottom: .2rem;
  left: .2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 4rem;
  border-radius: .3rem;
  background: white;
  padding: 0 .4rem .3rem .4rem;
  .title{
    width: 100%;
    margin-top: .4rem;
    text-align: center;
    font-size: .32rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #172B4D;
  }
  .content{
    margin-top: .26rem;
    font-size: .28rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #5E6C84;
    line-height: .48rem;
    text-align: justify;
  }
  .footer{
    width: 100%;
    display: flex;
    margin-top: .42rem;
    // justify-content: space-between;
    .cancel{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: .9rem;
      background: #E4F0FF;
      border-radius: .1rem;
      font-size: .28rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #437DFF;
    }
    .ok{
      @extend .cancel;
      color: #FFFFFF;
      background: #5B8EFF;
      margin-left: .2rem;
    }
  }
}
