.payback_detail {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  .result {
    padding: 0.6rem 0;
    background: #fff;
    border-bottom: .2rem solid #F8F9F9;
    img {
      width: 3.2rem;
      margin: 0 auto;
      margin-bottom: .4rem;
      display: block;
    }
    p {
      font-size: 0.36rem;
      font-weight: 500;
      color: #172B4D;
      line-height: 0.5rem;
      text-align: center;
    }
    margin-bottom: 0.16rem;
  }
  .error{
    padding: 0.6rem 0;
    background: #fff;
    img {
      width: 3.2rem;
      margin: 0 auto;
      margin-bottom: .4rem;
      display: block;
    }
    p {
      font-size: 0.36rem;
      font-weight: 500;
      color: #172B4D;
      line-height: 0.5rem;
      text-align: center;
    }
  }
  .order_detail {
    background: #fff;
    padding: 0 0.3rem;
    padding-top: 0.3rem;
    .order_item {
      font-size: 0.28rem;
      font-weight: 400;
      color: #172b4d;
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0;
      border-bottom: 1px solid #ebecf0;
      span:last-child {
        font-weight: 500;
        color: #5E6C84;
      }
    }
  }
}

.footer{
  flex: 1;
  display: flex;
  align-items: end;
  background-color: #fff;
  padding: .5rem 0;
  .button{
    width: 6.7rem;
    height: .9rem;
    margin: 0 auto;
    font-size: .3rem;
    background: linear-gradient(270deg, #0AB88D 0%, #5B8EFF 100%);
    border-radius: .1rem;
    text-align: center;
    line-height: .9rem;
    color: #fff;
  }
}